*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color_1: #1f2e55;
  --color_2: #ffffff;
  --color_3: #f7f9ff;
  --color_4: #717fa6;
  --color_5: #1e1fcd;
  --color_6: #382ae1;
  --color_7: #766cf1;
  --background-color: #e0e8ff;
  --container-shadow: #0d30bd27;
  --payment_button-shadow: #382ae130;

  --font_black: 900;
  --font_medium: 500;
  --font_bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: url(images/pattern-background-mobile.svg), var(--background-color);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
}

.btn {
  all: unset;
}

.background-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.component-card {
  max-width: 34rem;
  text-align: center;
  background-color: var(--color_2);
  border-radius: 2rem;
  box-shadow: 0 3rem 2.4rem -1rem var(--container-shadow);
}

.hero-image {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}

.component-card__heading {
  font-weight: var(--font_black);
  font-size: 2.2rem;
  color: var(--color_1);
}

.component-card__main-text {
  font-weight: var(--font_medium);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color_4);
  width: 90%;
  margin: 0 auto;
}

.component-card__selection {
  background-color: var(--color_3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 1rem;
  border-radius: 1.1rem;
  width: 90%;
}

.selection__music-icon {
  height: auto;
}

.selection__description {
  font-size: 1.5rem;
  text-align: left;
  font-weight: var(--font_black);
  margin-right: 10%;
}

.selection__description--price {
  display: block;
  color: var(--color_4);
  font-weight: var(--font_medium);
  font-size: 1.4rem;
}

.selection__change {
  font-size: 1.3rem;
  color: var(--color_6);
}

.selection__change:hover {
  text-decoration: none;
  color: var(--color_7);
}

.component-card__payment-button {
  border: none;
  background-color: var(--color_6);
  color: var(--color_2);
  font-size: 1.5rem;
  font-weight: var(--font_black);
  padding: 1.7rem 0;
  width: 80%;
  margin: 0 auto 3rem auto;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 2rem 2rem var(--payment_button-shadow);
}

.component-card__payment-button:hover {
  background-color: var(--color_7);
}

.component-card__cancel-order {
  display: block;
  color: var(--color_4);
  text-decoration: none;
  font-weight: var(--font_black);
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.component-card__cancel-order:hover {
  color: var(--color_1);
  cursor: pointer;
}

@media (min-width: 660px) {
  body {
    background: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .component-card {
    max-width: 45rem;
  }

  .component-card__heading {
    font-size: 2.8rem;
    margin-top: 4rem;
  }

  .component-card__main-text {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 80%;
  }

  .break {
    display: none;
  }

  .component-card__selection {
    margin: 2rem auto 3rem auto;
    width: 80%;
  }

  .selection__description {
    font-size: 1.6rem;
    margin-right: 20%;
  }

  .selection__description--price {
    font-size: 1.6rem;
  }

  .selection__change {
    font-size: 1.4rem;
  }

  .selection__change {
    font-size: 1.5rem;
  }
}
