*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color_1: #1f2e55;
  --color_2: #ffffff;
  --color_3: #f7f9ff;
  --color_4: #717fa6;
  --color_5: #1e1fcd;
  --color_6: #382ae1;
  --color_7: #766cf1;
  --container-shadow: rgba(13, 48, 189, 0.151826);
  --payment_button-shadow: rgba(56, 42, 225, 0.190291);

  --font_black: 900;
  --font_medium: 500;
  --font_bold: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #d6e1ff;
  font-family: "Red Hat Display", sans-serif;
}

.background-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.component-card {
  width: 90%;
  text-align: center;
  background-color: var(--color_2);
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem -1rem var(--container-shadow);
}

.hero-image {
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}

.component-card__heading {
  font-weight: var(--font_black);
  font-size: 2.2rem;
  color: var(--color_1);
}

.component-card__main-text {
  font-weight: var(--font_medium);
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color_4);
  width: 90%;
  margin: 0 auto;
}

.component-card__selection {
  background-color: var(--color_3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 0;
  border-radius: 1.1rem;
  width: 90%;
}

.selection__music-icon {
  height: auto;
}

.selection__description {
  font-size: 1.5rem;
  text-align: left;
  font-weight: var(--font_black);
}

.selection__description--price {
  display: block;
  color: var(--color_4);
  font-weight: var(--font_medium);
  font-size: 1.4rem;
}

.selection__change {
  font-size: 1.3rem;
  color: var(--color_6);
}

.selection__change:hover {
  text-decoration: none;
  color: var(--color_7);
}

.component-card__payment-button {
  border: none;
  background-color: var(--color_6);
  color: var(--color_2);
  font-size: 1.5rem;
  font-weight: var(--font_black);
  padding: 1.7rem 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 2rem 2rem var(--payment_button-shadow);
}

.component-card__payment-button:hover {
  background-color: var(--color_7);
}

.component-card__cancel-order {
  display: block;
  color: var(--color_4);
  text-decoration: none;
  font-weight: var(--font_black);
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

.component-card__cancel-order:hover {
  color: var(--color_1);
  cursor: pointer;
}
